<nav class="flex items-center flex-wrap justify-between px-6 py-4 border-b border-gray-300 w-[100%] bg-[#deeefe] fixed z-10 top-0 ">
  <!-- Logo/Brand Name -->
  <div class="text-xl font-semibold text-gray-800 ml-32">SuperMetrics.com</div>

  <!-- Nav Links -->
  <div class="flex space-x-4 justify-center items-center">
    <a href="/" class="text-[#42526B] hover:text-[#1B91F0] flex items-center justify-center">
      Features
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6l-6-6z"/></svg>
    </a>
    <a href="/" class="text-[#42526B] hover:text-[#1B91F0] flex items-center justify-center">
      Resources
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6l-6-6z"/></svg>
    </a>
    <a href="/" class="text-[#42526B] hover:text-[#1B91F0] flex items-center justify-center">
      Company
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6l-6-6z"/></svg>
    </a>
    
    <a href="/" class="text-[#42526B] hover:text-[#1B91F0]">Pricing</a>
  </div>

  <!-- Action Buttons -->
  <div class="flex space-x-4 mr-32">
    <button
      class="px-4 py-2 text-sm font-semibold text-gray-700 hover:text-gray-900  rounded-md hover:bg-gray-100 transition-all"
      >Log In</button
    >
    <button
      class="px-6 py-2 text-sm font-semibold text-white bg-[#1B91F0] hover:bg-blue-700 rounded-md transition-all"
      >Sign Up</button
    >
  </div>
</nav>
