---
import { Image } from "astro:assets";
import { images } from "../../constants";
---

<section class="h-[190px] w-full flex items-center justify-center">
    <div class="relative flex w-full justify-center gap-4 items-center">
        <hr class="circle-earlier border-t-1 border-gray-300 w-[360px]" />
        <Image loading="lazy" src={images.growth} alt="Growth" class="">
        <hr class="circle-later border-t-1 border-gray-300 w-[360px]" />
    </div>
</section>

<style>
    .circle-earlier:before {
        content: "";
        position: absolute;
        top: 9px;
        width: 12px;
        height: 12px;
        background-color: white;
        border: 1px solid black;
        border-radius: 50%;
    }
    .circle-later:after {
        content: "";
        position: absolute;
        top: 9px;
        right: 360px;
        width: 12px;
        height: 12px;
        background-color: white;
        border: 1px solid black;
        border-radius: 50%;
    }
</style>
